body {
  height: 100%;
  margin: 0;
  background: url("https://partner.qntmnet.com/public/images/qn_white.jpg")  no-repeat center center fixed;
  background-size: cover;
}
.dummy{
  background-color: red;
}

.partner_form {
  position: absolute;
  top: 0;
  right: 0;
  width: 40% !important;
  /* height: 600px !important; */
  margin: 20px 120px 20px 20px !important;
}

.partner_form_container {
  background-color: #f2f2f2 !important;
  box-shadow: 0px 1px 20px #ccc;
  margin-bottom: 20px;
}

.partner_registration-logo {  
  margin-top: 2px;
  width: 216px;
  text-align: center;
}

.form-control {
  margin-top: -10px;
  width: 100%;
  height: 30px;
  border-color: #d2d6de;
  border-right: 1px solid red;
  font-size: 1.0rem;
  border-radius: 25px;
  padding: 21px 25px 16px 20px;
}

.form-select {
  color: #6b6d71;
  margin-top: -10px;
  width: 100%;
  height: 40px !important;
  border-color: #d2d6de;
  border-right: 1px solid red;
  font-size: 1.0rem;
  border-radius: 25px;
  padding: 9px 25px 16px 20px;
}

.form-span {
  color: #2e3192;
}

.hr {
  color: #2e3192;
}

.submit_btn {
  text-align: right;
}

.btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  background-color: #2E3192;
  border-color: #2E3192;
  border-radius: 25px;
  padding: 10px 50px;
  justify-content: flex-end;
}

.qntmlogo {
  max-width: 100%;
  height: 100px;
}

.captcha_img{
  margin-top: 50px;
}

.partner_form_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.iti__country-name {
  color: #6b6d71;
}

.reload{
  color: #2E3192;
}

.iti {
  position: relative !important;
  display: block !important;
}

.mobile_no{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile{
  height: 20px;
  max-width: 80%;
  border: none;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .qntmlogo {
    max-width: 70%;
    width: 150px;
    height: 63px;
  }

  .partner_form {
    width: 100% !important;
    padding: 20px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }

.captcha_img{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 30px;  
}

  .partner_form_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 50px;
    font-size: 16px;
  }
}

